@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
$bannerFont: 'Didact Gothic', sans-serif;
$bannerStrongFont: 'Hind', sans-serif;

header {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;

    .headerContainer {
         width: 100%;
         height: 100%;
         position: relative;
    }

    .headerRoom {
        background: #fff;
        width: 100%;
        height: 3em;

        .headerRoom__wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4em;
        margin-left: auto;
        }
        .headerRoom__ul {
        list-style: none;
        display: flex;
        margin-left: auto;

        a{
            text-decoration: none;
            font-family: $bannerFont;
            font-size: 1.275em;
            color: #666;
            padding: .580em 1.5em .580em 1.5em;
            border-left: 1px solid #ddd;
            
            &:hover {
                color: #0080eb;
            }
        }

         .faq {
            border-right: 1px solid #ddd;
            }
    }
    }

nav {
    background-color: #2D2D2D;
    color: #fff;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;     
    height: 5.7em;
    min-height: 3em;
    z-index: 999;
    justify-content: space-around;
    align-items: center;
    transition: 1000ms;

    .nav__main__links {
        height: 100%;
        width: auto;
        margin-right: auto;
        margin-left: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        
        .logo {
            font-size: 1.8em;
        }
    
    .nav__primary__ul {
        list-style: none;
        display: flex;
        

           a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-family: $bannerStrongFont;
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 1.230em;
            padding: 1.180em 1.5em 1.2em 1.5em;

            &:hover {
            background-color: #4D4D4D;
                
            }
    }

    .a__shop__for__mulher {
            border-left: .1px solid #555;

        
    }

    .a__shop__for__homem {
            border-left: .1px solid #555;
            border-right: .1px solid #555;
    }
    }

}

.nav__icons {
    margin-right: 4em;

.icon__list {
    list-style: none;
    display: flex;
    gap: 2em;
}
}
}

.headerBanner {
    width: 100%;
    height: 5em;
    background-color: #0080eb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    

 a {
    text-decoration: none;
    color: #fff;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    border-radius: 0;
    display: block;
    border: 2px solid #fff;
    box-sizing: border-box;
    line-height: 26px;
    text-decoration: none;
    margin: 9px 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .8s ease;
    text-align: center;
    text-transform: uppercase;
    font-family: $bannerFont;
    font-weight: 600;
    letter-spacing: 2px;

       &:hover {
            opacity: .6;
                
            }
        }

    .banner__shop__for__mulher {
        margin-right: auto;
        margin-left: 4em;
    }

    .banner__shop__text {
        font-size: 1.445em;
        font-weight: 900;
        font-family: $bannerStrongFont;
    }

     .banner__shop__for__homem {
        margin-left: auto;
        margin-right: 4em;
    }
}
}