@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
$bannerFont: "Didact Gothic", sans-serif;

.registration {
  height: 100%;
  width: 100%;
  background-color: #eee;

  .registration__container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: inherit;

    .title__container {
      padding-top: 4%;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      margin-block-end: 1%;

      Link {
        text-decoration: none;
      }

      .registration__title {
        color: #000;
        text-transform: uppercase;
        font-size: 2.95em;
        font-family: $bannerFont;
        font-weight: 900;
        text-decoration: none;
      }
    }

    .registration__wrap {
      height: 54em;
      width: 50%;
      margin-top: 5%;
      background-color: #fff;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;

      @media (max-width: 976px) {
        width: 80%;
      }
      @media (max-width: 563px) {
        width: 98%;
      }

      .registration__links {
        position: absolute;
        top: 0;
        width: 93%;
        height: 17%;
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.26em;
        border-bottom: 1px solid rgb(232, 233, 233);
        text-transform: uppercase;

        .registre__se__wrap {
          width: 100%;
          display: flex;
          justify-content: center;
          border-right: 1px solid #777;
        }

        .registre__se {
          width: 50%;
          height: 100%;
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .sign__in {
          width: 50%;
          height: 100%;
          float: right;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        justify-content: center;
        align-items: center;

        input {
          padding-left: 0.2em;
          width: 50%;
          padding: 0.83em;
          outline: none;
          border: 1px solid #999;

          @media (max-width: 530px) {
            width: 70%;
          }
        }

        label {
          text-transform: uppercase;
          font-size: 1.4em;
          margin-right: auto;
          margin-left: 25%;
          margin-bottom: -1em;
          font-weight: 800;
          color: #777;

          @media (max-width: 530px) {
            margin-left: 15%;
          }
        }

        .btn__registre__se {
          padding: 1.2em;
          width: 50%;
          outline: none;
          border: none;
          cursor: pointer;
          background-color: #2d2d2d;
          color: #fff;
          font-size: 1.2em;
          font-weight: 700;
          text-transform: uppercase;

          @media (max-width: 530px) {
            width: 70%;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.esqueceu__password {
  font-size: 1.25em;
  font-weight: 100;
  margin-top: -2%;
  font-family: $bannerFont;
  text-decoration: none;
  color: #1d1d1d;
  text-underline-offset: 0.7em;

  &:hover {
    text-decoration: underline;
    opacity: 0.75;
  }
}

.link {
  &:hover {
    opacity: 0.75;
  }
}

.google__register {
  margin-top: 14%;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;

  .google__btn {
    width: 32%;
    height: 4.3em;
    border: 2px solid #ccc;
    color: #1d1d1d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 530px) {
      width: 52%;
    }
    &:hover {
      opacity: 0.75;
    }

    &:active {
      border: 2px solid #0080eb;
    }

    .google__btn__text {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
      margin-left: 10%;
    }

    .google__btn__logo {
      position: absolute;
      background-image: url(../images/google-logo.png);
      background-size: cover;
      width: 23px;
      height: 23px;
      left: 10%;
    }
  }
}

.formInputWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputError {
  list-style: none;
  font-size: 1.4em;
}

.recuperar__senha__title {
  width: 100%;
  height: 100%;
  text-align: center;

  span {
    font-size: 1.6rem;
  }
}

.error__container {
  top: 3%;
  background-color: #fcd8e2;
  margin: 0 auto;

  @media (max-width: 530px) {
    width: 70%;
  }
  .error__message {
    padding: 2em;
    text-align: center;
    color: #222222;
    position: relative;
    padding-left: 7%;
  }

  .erro__icon {
    position: absolute;
    left: 3%;
    top: 30%;
  }
}

.error__wrap {
  width: 50%;
  @media (max-width: 976px) {
    width: 80%;
  }
  @media (max-width: 563px) {
    width: 98%;
  }
}

.error__wrap__msg {
  padding: 1rem;

  @media (max-width: 390px) {
    margin-left: 1em;
    font-size: 1.2rem;
    padding: 0.51rem;
  }
}

.error__wrap__email {
  width: 50%;

  @media (max-width: 530px) {
    width: 70%;
  }
}

.registration__form {
  margin-top: 14%;
  @media (max-width: 610px) {
    margin-top: 20%;
  }
  @media (max-width: 500px) {
    margin-top: 25%;
  }
}

.senha__error {
  background-color: #fcd8e2;
  padding: 0.5em;
  width: 50%;
  text-align: center;
  position: relative;
  @media (max-width: 530px) {
    width: 70%;
  }
}

.senha__erro__icon {
  position: absolute;
  left: 5%;
  bottom: 20%;
}
