@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap");
$bannerStrongFont: "Hind", sans-serif;

.active__section {
  background-color: #4d4d4d;
}

.headerBannerShops {
  width: 100%;
  height: 5em;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  .shops__banner__text {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #fff;
    color: rgb(86, 17, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
  }

  .shops__banner__content {
    width: 50%;
    height: 100%;
    float: right;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 900;
  }
}

.ShopsContainer {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  filter: grayscale(20%);

  .Shops__page__container {
    width: 100%;
    height: 73.2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shops__glass {
    width: 100%;
    height: 100%;
    background-color: #0081eb8a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
  }
}

.shops__banner {
  height: 8em;
  background-color: #fff;
  display: flex;
  font-weight: 800;
  font-family: $bannerStrongFont;
  align-items: center;
  justify-content: center;

  .banner__content {
    font-size: 5.6em;
  }
}

.banner__md__section {
  width: 42%;
}

.banner__content__section {
  width: 40%;
}

.shops__banner__btn {
  width: 15%;
  height: 4.4em;
  margin-top: 1%;

  .banner__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    transition: 800ms;
    font-family: $bannerStrongFont;
    font-weight: 500;
    font-size: 1.5em;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .banner__btn {
    text-transform: uppercase;
  }
}

#products {
  height: 60em;
  width: 100%;
  background-color: #eee;

  .products__container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
  .product__list__ul {
    list-style: none;
    width: 100%;
    height: 85%;

    .product__list {
      display: inline-block;
      padding-left: 2%;
    }

    .product__list__link {
        text-decoration: none;
    }
    .product__list__container {
      width: 28.5em;
      height: 50em;
      .product__list__wrap {
          width: 100%;
          height: 83%;
        .product__list__img {
           width: 100%;
          height: 100%;
        }
      }
    }

    .product__list__title {
        width: 100%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        gap: 1.2em;

        .product__list__h2 {
            color: #000;
            font-size: 1.5em;
            font-weight: 800;
            text-transform: uppercase;
            
        }

        .product__list__p {
            color: #000000;
            font-size: 1.5em;
            font-weight: 400;
            
        }
    }
  }
}
}

.products__show__section {
    width: 100%;
    height: 100em;
    
    .products__show__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
            
  .product__show__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    gap: 4%;

    .product__show__list {
        &:first-child {
            padding-left: 10.5%;
        }
        
    }

    .product__list__link {
        text-decoration: none;
    }
    .product__list__show__wrap {
      width: 48.5em;
      height: 80em;
      .product__show__img {
          width: 100%;
          height: 83%;
        .product__list__img {
           width: 100%;
          height: 100%;
        }
      }
    }

    .product__list__title {
        width: 100%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        gap: 1.2em;

        .product__list__h2 {
            color: #000;
            font-size: 2.6em;
            font-weight: 900;
            text-transform: uppercase;
            padding-top: 6%;
            
        }

        .product__list__p {
            color: #000000;
            font-size: 1.5em;
            font-weight: 400;
            
        }
        
        .product__show__btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .product__show__btn__span {
                width: 40%;
                height: 3em;
                background-color: transparent;
                cursor: pointer;
                border: 2px solid #000;
                color: #000;
                transition: 800ms;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                text-transform: uppercase;
                font-weight: 700;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
  }
    }
}