@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
$bannerStrongFont: 'Hind', sans-serif;

.active__section {
    background-color: #4D4D4D;
}

.headerBannerShops {
    width: 100%;
    height: 5em;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    .shops__banner__text{
        width: 50%;
        height: 100%;
        float: left;
        background-color: #fff;
        color: rgb(86, 17, 255);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.300em;
        font-weight: bold;
    }

    .shops__banner__content{
        width: 50%;
        height: 100%;
        float: right;
        background-color: #000;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.300em;
        font-weight: 900;
    }

}

.ShopsContainer {      
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    filter: grayscale(20%);

.Shops__page__container {
    width: 100%;
    height: 73.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shops__glass {
    width: 100%;
    height: 100%;
    background-color: #0081eb8a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
}

.shops__banner {
    height: 8em;
    background-color: #fff;
    display: flex;
    font-weight: 800;
    font-family: $bannerStrongFont;
    align-items: center;
    justify-content: center;

    .banner__content {
        font-size: 5.6em;
    }
}

.banner__md__section {
    width: 42%;
}

.banner__content__section {
    width: 40%;
}

.shops__banner__btn {
    width: 15%;
    height: 4.4em;
    margin-top: 1%;

    .banner__link {
       text-decoration: none;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #fff;
       color: #000;
       transition: 800ms;
       font-family: $bannerStrongFont;
       font-weight: 500;
       font-size: 1.5em;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    .banner__btn {
        text-transform: uppercase;
        
    }
}

#products {
    height: 50em;
    width: 100%;
    background-color: #000;
}