*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    direction: ltr;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.30769231;
}


@import 'Nav';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');